<div id="content">
<h2>Modify the Tenant</h2>
<div style="width: 400px;">
  <form #updateForm (ngSubmit)="onSubmit()">  
    <div class="col">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="tenants.tenant_fname" name="tenant_fname">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="tenants.tenant_lname" name="tenant_lname">
    </div>
    </div>
    <div class="col">
    <div class="form-group">
      <label for="name">tenant address</label>
      <input type="text" class="form-control" id="tenant_address" required [(ngModel)]="tenants.address" name="address">
    </div>
  </div>
    <div class="col">
    <div class="form-group">
      <label for="name">tenant email</label>
      <input type="text" class="form-control" id="tenant_email" required [(ngModel)]="tenants.email" name="email">
    </div>
  </div>
    <div class="col">
    <div class="form-group">
      <label for="name">tenant Id number</label>
      <input type="text" class="form-control" id="tenant_id_no" required [(ngModel)]="tenants.id_no" name="id_no">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="name">Tenant County</label>
      <select [(ngModel)]="tenants.county" name="tenant_county" class="form-select"
      ng-required="item.id==8 && item.quantity > 0">
          <option value="?" selected="selected"></option>
          <option value="Laikipia">Laikipia</option>
          <option value="Nakuru">Nakuru</option>
          <option value="Mombasa">Mombasa</option>
          <option value="Lamu">Lamu</option>
      </select>
      <!-- <input type="text" class="form-control" id="tenant_desc" required [(ngModel)]="tenants.county_id" name="tenant_county"> -->
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="name">Tenant Gender</label>
      <select [(ngModel)]="tenants.gender" name="tenant_gender" class="form-select">
        <option value="?" selected="selected"></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="name">Tenant Property</label>
      <select [(ngModel)]="tenants.property_name" name="tenant_property" class="form-select"
      ng-required="item.id==8 && item.quantity > 0">
          <option value="?" selected="selected"></option>
          <option value="Mansion">Mansion</option>
          <option value="Bedsitter">Bedsitter</option>
          <option value="Single room">Single Room</option>
          <option value="Apartment">Apartment</option>
      </select>
    </div>
  </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
