<div id="content" class="my_image">  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Tenants</h2>
    </div>
    <div class="panel-body">
      <!-- <a href="#" routerLink="/add/" class="btn btn-success text-align center">Create A New Tenant</a> -->
      <table class="table table-striped">
        <thead class="table-dark">
          <tr class="bg-primary">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">ID No.</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Property</th>  
            <th scope="col">County</th>
            <th scope="col">Actions</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tenant of tenants; let i = index;">
            <td>{{i+1}}</td>
            <td>{{tenant.tenant_fname}} {{tenant.tenant_lname}}</td>
            <td>{{tenant.gender}}</td>
            <td>{{tenant.id_no}}</td>
            <td>{{tenant.email}}</td>
            <td>{{tenant.address}}</td>
          <td>{{tenant.property_name}}</td>
          <td>{{tenant.county}}</td>
          
            <td>
          <button (click)="tenantDetails(tenant.tenant_id)" class="btn btn-primary" style="margin-right: 10px">Details</button> 
          <button type=button (click)="deleteTenant(tenant.tenant_id)" class = "btn btn-danger">Delete</button>
        </td>
    
          </tr>   
        </tbody>
      </table>
    </div>
  </div>
</div>